html {
  font-size: 24px;
}

body {
  box-sizing: border-box;
  background-color: lightblue;
  max-width: 600px;
  width: 300px;
  height: 100px;
}

.newspaper {
	width: 80vw;
	background-color: white;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	margin: 80px;
	padding: 20px 40px;
	box-shadow: 0 6px 8px rgba(0,0,0.2);

}

.name {
  font-size: 2rem;
  font-family: "Times New Roman", serif;
  text-transform: uppercase;
  text-align: center;
}

.date {
  text-align: center;
}

.headline {
  font-size: 2em;
  font-weight: bold;
}

.author {
  font-weight: bold;
  text-transform: uppercase;
}

.sub-headline {
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
}

.text {
  text-indent: 20px;
  line-height: 2em;
}

.text::first-letter {
  font-weight: bold;
  font-size: 2em;
}