body {
  width: 900px;
  overflow-x: hidden;
  max-width: 100%;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Pushes the logo to the left and links to the right */
  align-items: center;
  padding: 0 20px;
}

#nav-bar {
  position: fixed;
}

#nav-bar ul {
  display: flex;
  list-style: none;
}

#header-img {
  height: 40px;
  width: 40px;
  display: block;
}

.nav-link {
  color: black;
  text-decoration: none;
  padding: 10px 15px; /* Adds space around the links making the whole area clickable */
}


.background-video {
  /*object-fit: cover;*/
  width: 100vw;
}

img {
	width: 100vw;
}

a {
  text-decoration: none;
}

h1, h2 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 1.4em;
}

input {
  display: block;
  width: 20%;
  border: 1px solid #ccc;
  padding: 2px 0 2px 4px;
  background: white;
  margin: 10px auto;
}

#submit {
  display: block;
  border: 1px solid orange;
  margin: auto;
  padding: 4px 0;
  background: orange;
  width: 10%;
  border-radius: 4px;
}

#submit:hover {
  border: 1px solid yellow;
  cursor: pointer;

}


@media only screen and (max-width: 420px){
  .background-video {
    max-width: 100%;
  }

}
