table {
  border-collapse: collapse;
  width: 100%; 
}

thead {
  background-color: lightblue;
  border: 2px solid black;
  text-align: center;
}

th, td {
  border: 1px solid #ddd; /* Light gray borders for all cells */
  padding: 8px; /* Adds padding inside cells */
}


tr[class="read"] {
background-image: linear-gradient(to bottom, #f4f4f4, #dcdcdc);

}

tr[class="to-read"]{
background-image: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(72, 174, 140, 1) 29%, rgba(87, 199, 167, 1) 16%, rgba(237, 221, 83, 1) 100%);

}

tr[class="in-progress"]{
background-image: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);

}

span{
  display: inline-block;

}

tr[class="to-read"] span[class="status"]{
  border: 1px solid #D6F6D5;
  border-radius: 50px;
  background-image: linear-gradient(90deg, rgba(58,231, 10, 1) 0%, rgba(0, 253, 0, 1) 50%, rgba(0, 252, 39, 1) 100%);

}

tr[class="read"] span[class="status"]{
  border: 1px solid #ADD8E6;
  border-radius: 50px;
  background-image: linear-gradient(to bottom, #F5FCFF, #ADD8E6);

}

tr[class="in-progress"] span[class="status"]{
  border: 1px solid #ffb3b3;
  border-radius: 50px;
  background-image: linear-gradient(90deg, rgba(231, 58, 10, 1) 0%, rgba(253, 0, 0, 1) 50%, rgba(252, 0, 39, 1) 100%);

}

span[class="status"], span[class^="rate"] {
  height: 30px;
  line-height: 30px; /* used same as height to be able to bring the text a little big down (vertically center) */
  width: 110px;
  padding: 3px 10px;
  text-align: center;
}

span[class^="rate"] > span {

  border: 1px solid yellow;
  height: 20px;
  width: 20px;
  margin: 4px;
  border-radius: 20px;
  background-color: #fff; 
}

span[class~="one"] >:first-child{
   background-image: linear-gradient(90deg,rgba(201, 21, 21, 1) 92%, rgba(9, 9, 11, 1) 100%, rgba(212, 22, 25, 1) 100%);
}

span[class~="two"] > :nth-child(-n+2) {
  background-image: linear-gradient(90deg,rgba(201, 21, 21, 1) 92%, rgba(9, 9, 11, 1) 100%, rgba(212, 22, 25, 1) 100%);
}

span[class~="three"] > span {
  background-image: linear-gradient(90deg,rgba(201, 21, 21, 1) 92%, rgba(9, 9, 11, 1) 100%, rgba(212, 22, 25, 1) 100%);


}
