body {
  margin: 0;
  background-color: lavender;

}

.form-container {
  width: 400px;
  margin: 40px auto;
  background-color: #6a3a;
  border-radius: 8px;
  padding: 2em 1em;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin: 0.5em 0;
  color: #3d2353;
  font-weight: 800;
}

input, textarea {
  width: 100%;
  padding: 0.5em 0;
  margin: 10px 0 0 0;
  border-radius: 4px;
}

button {
  display: block;
  width: 60%;
  margin: 1em auto;
  background-color: lavender;
  border: 1px solid blue;
  border-radius: 4px;
  padding: 0.5em 0;
  font-size: 1.1rem;
}

button:hover {
  cursor: pointer;
  background-color: lightblue;
  outline: none;
  border: 1px solid lightblue;
}

#message {
  border: 2px solid black;
}