body {
  background-color: #f4f4f4;
  width: 1000px;
  max-width: 800px;
  height: 600px;
}

h1 {
  text-align: center;
  padding-bottom: 4px;
}

.color-grid {
  margin: 0 auto;
  width: 85vh;
  display: flex;
  justify-content: space-between;
  
}

.color-box {
  border-radius: 8px;
  width: 100px;
  height: 100px;
}

.color1 {
  background-color: #00FFAA;

}

.color2 {
  background-color: rgb(20,70,5);
}

.color3 {
  background-color: orange;
}

.color4 {
  background-color: hsl(340,100%,50%);
}

.color5 {
  background-color: midnightblue;
}