body{
  background-color: lightblue;
}

.list {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 400px;
  margin: 40px auto;
  padding-bottom: 20px;
  padding-right: 10px;

}

.todo-list {
  list-style-type: none;
}

h1 {
  text-align: center;
}

.todo-list > li {
  background-color: lightblue;
  border: 2px solid lightblue;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 12px;
  padding-top: 10px;
  padding-left: 4px;
  padding-bottom: 20px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: green;
}

a:focus {
  outline: 2px solid red;
}

a:active {
  color: darkorange;
}
