body {
  width: 70vw;
  margin: 0 auto;
  border: 2px solid red;
  background-color: lightblue;
  padding: 50px 0;
  min-height: calc(100vh - 100px);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;

}

h1 {
  text-align: center;
  padding: 1em;
}

p {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  width: 90%;
  height: 2px;
  padding: 0.1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

section {
  width: 90%;

}

main {
  display: flex;
}

** end of styles.css **

