body {
  width: 100%;
  background-color: #f0f0f0; 
}

.blog-post-card {
  background-color: white;
  border: 2px solid #d7d7d7;
  border-radius: 10px;
  width: 50%;
  /* max-width: 500px; */
  margin: 40px auto;
  text-align: center; 
}

.post-img {
  border-bottom: 2px solid black;
  width: 100%;
  height: 100%;
}

.post-content {
  padding: 0px 20px 20px 20px;
}

.post-title, .post-excerpt {
  color: #3CB371;
  margin: 10px;

}

.read-more {
  display: inline-block;
  background-color: black;
  border: 1px solid black;
  color: white;
  margin: 10px;
  padding: 6px;
  border-radius: 3px;
}
.read-more:hover {
  background-color: lightblue;
  border: lightblue;
}