#email {
  box-sizing: border-box;
  width: 500px;
  margin: 50px auto;
  padding: 50px;
  border: 2px solid black;
  background-color: #A58A9A

}

#confidential, #top-secret {
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  color: red;
  border: 5px solid red;
  padding: 10px;
  margin: 0 0 0 10px;
}

#confidential {
  transform: translate(90px) rotate(-20deg) scale(1.4);
}
#top-secret {
  transform: translate(60px) rotate(20deg) scale(1.4);
}

.blurred {
  filter: blur(3px);
}