body {
  margin: 0;
  background-color: green;
}
#house {
  position: relative;
  z-index: auto;
  border: 2px solid black;
  width: 500px;
  height: 400px;
  background-color: lightblue;
  margin: 200px auto;
}

#chimney {
  position: absolute;
  top: -100px;
  z-index: -1;
  right: 0px;
  border: 2px solid black;
  background-color: #fff;
  width: 80px;
  height: 100px;

}
#roof {
  position: absolute;
  top: 0;
  left: -50px;
  border: 3px solid orange;
  background-color: brown;
  width: 600px;
  height: 100px;
}
#window-1 {
  position: absolute;
  top: 200px;
  left: 50px;
  border: 5px solid orange;
  background-color: lightyellow;
  width: 80px;
  height: 80px;
}

#window-2 {
  position: absolute;
  top: 200px;
  right: 50px;
  border: 5px solid orange;
  background-color: lightyellow;
  width: 80px;
  height: 80px;
}

#door {
  position: absolute;
  bottom: 0;
  left: 200px;
  border: 5px solid brown;
  background-color: lightgrey;
  width: 80px;
  height: 160px; 
}
